body {
    font-family:hiragino sans;
    font-weight: 100;
    list-style-type: none;
    background: #000;
    font-size: 12px;
    color: white;
}
h1,h2 {
    font-weight: 100;
 }
.wrapper {
    width: 460px;
    overflow: auto;
}
.name {
    margin-top: 10px;
    font-size: 50px;
    margin-left: 135px;
}
.div style{
    margin-right: 300px;
}
.menu {
    width: 60px;
    float: left;
}

.menu>ul {
    
}

.menu>ul>li {
    list-style-type: none;
}

.menu>ul>li>a {
    display: block;
    border: 1px solid #000;
    /*! padding: 20px; */
    margin: 3px;
    text-align: center;
    color: white;
    transform: rotate(-90deg);
        width:127px;
   margin-top:125px;
    transform-origin: 0 0;
    
}


.content {
    padding: 20px;
    margin-left: 120px;
    font-weight: 100;
}

.photos{
    float:right;
    

}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

h3,h4,h5 { font-family:hiragino sans;
 font-weight: 100;
    font-size: 12px;
    
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}